body{
  background: #fff;	
}

.setMenuAdmin{
  background-color: #337ab7;
  border-color: #2e6da4;
  margin-top: 0px;
  margin-bottom: 1em;
  padding: 10px;
}

.setMenuAdmin a{
  color: white;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;    
    background: #000;
}

table th, td
{
  text-align: center; 
}

.tabela-perfil{  
  width:900px;
  width: 900px;  
}

.paginacao{
  position: absolute;
  left: 50px;
  bottom: 40px;
  margin-left: 650px;  
}

.oucutarElemento{
  display: none;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.70rem + 2px);
}

.sub-menu-usuario{  
  display: inline-flex;     
  justify-content: center;  
}

.btnNovo{
  margin-right: 15em;
}

.selectFiltro{
  width: 30%;  
}

.inpNome{  
  margin-left: 40em;
  width: 50%;
}

.ocultar{
  display: none;
}

#sigla{
   width: 25%; 
}
